---
layout: default
title: Home
---

<div class="d-flex">
	{% assign posts = site.posts %}
	<div class="p-2 flex-fill">
		<ul>
			{% for post in posts %}
			{% if post.lang == "en" %}
			<li>
				<a href="{{post.url}}">{{post.title}}</a>
				{{post.excerpt}}
				<hr>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="p-2 flex-fill">
		<ul>
			{% for post in posts %}
			{% if post.lang == "fr" %}
			<li>
				<a href="{{post.url}}">{{post.title}}</a>
				{{post.excerpt}}
				<hr>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="p-2 flex-fill">
		<ul>
			{% for post in posts %}
			{% if post.lang == "es" %}
			<li>
				<a href="{{post.url}}">{{post.title}}</a>
				{{post.excerpt}}
				<hr>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>