<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{page.title}}</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<style type="text/css">
			body {
				padding-top: 64px;
			}

			.navbar {
				border-bottom: 1px solid #DDDDDD;
			}
		</style>
	</head>
	<body>
		<nav style="background: rgba(255, 255, 255, 1.0);" class="navbar navbar-expand-sm navbar-default navbar-light fixed-top">
			<div class="container">
				<a class="navbar-brand" href="{{site.url}}/{{page.lang}}">Best Modpacks</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mainNavbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						{% assign posts = site.posts | where: "ref", page.ref %}
						{% if posts.size == 0 %}
						{% assign posts = site.pages | where: "ref", page.ref %}
						{% endif %}
						{% for post in posts %}
						<li class="nav-item">
							<a class="nav-link" href="{{post.url}}" title="{{site.data.languages[post.lang].alt_msg}}">{{site.data.languages[post.lang].icon}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			{{content}}
		</div>
	</body>
</html>